{% extends "home/base-home.html" %}
{% load static %}

{% block content %}
   
<!-- ##### Breadcrumb Area Start ##### -->
<section class="breadcrumb-area bg-img bg-overlay jarallax" style="background-image: url({% static 'img/bg-img/13.jpg' %});">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12">
        <div class="breadcrumb-content">
          <h2>Services</h2>
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Services</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ##### Breadcrumb Area End ##### -->

<section class="services-area section-padding-100-0">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <!-- Section Heading -->
        <div class="section-heading text-center mb-100 wow fadeInUp" data-wow-delay="100ms">
          <div class="line"></div>
          <p>Take look at our</p>
          <h2>Our services</h2>
        </div>
      </div>
    </div>

    <div class="row">
      <!-- Single Service Area -->
      <div class="col-12 col-md-6 col-lg-4">
        <div class="single-service-area d-flex mb-100 wow fadeInUp" data-wow-delay="200ms">
          <div class="icon">
            <i class="fa fa-globe" aria-hidden="true"></i>
          </div>
          <div class="text">
            <h5>International Banking</h5>
            <p>To connect you with the right people, we provide an International Banker - one person dedicated to you. This is someone you get to know and rely on for all of your international banking needs.</p>
          </div>
        </div>
      </div>

      <!-- Single Service Area -->
      <div class="col-12 col-md-6 col-lg-4">
        <div class="single-service-area d-flex mb-100 wow fadeInUp" data-wow-delay="300ms">
          <div class="icon">
            <i class="fa fa-credit-card" aria-hidden="true"></i>
          </div>
          <div class="text">
            <h5>Credit Cards</h5>
            <p>
              We are dedicated to providing you with more flexible and useful credit tools – and our selection of Union Wealth Bank Visa® Credit Cards delivers on this commitment.Used for everyday expenses.</p>
          </div>
        </div>
      </div>

      <!-- Single Service Area -->
      <div class="col-12 col-md-6 col-lg-4">
        <div class="single-service-area d-flex mb-100 wow fadeInUp" data-wow-delay="400ms">
          <div class="icon">
            <i class="fa fa-home" aria-hidden="true"></i>
          </div>
          <div class="text">
            <h5>Mortgages</h5>
            <p>Whether you’re purchasing your first home, buying a vacation property, or refinancing an existing mortgage, Union Wealth Bank              Residential Loan Consultants can help you navigate the rewarding path to home ownership</p>
          </div>
        </div>
      </div>

      <!-- Single Service Area -->
      <div class="col-12 col-md-6 col-lg-4">
        <div class="single-service-area d-flex mb-100 wow fadeInUp" data-wow-delay="500ms">
          <div class="icon">
            <i class="icon-smartphone-1"></i>
          </div>
          <div class="text">
            <h5>Secure financial services</h5>
            <p>Your safety and security is what matters. Learn more of our 24/7 fraud protection program that actively monitors your debit card transactions and will alert you if suspicious activity occurs.</p>
          </div>
        </div>
      </div>

      <!-- Single Service Area -->
      <div class="col-12 col-md-6 col-lg-4">
        <div class="single-service-area d-flex mb-100 wow fadeInUp" data-wow-delay="600ms">
          <div class="icon">
            <i class="icon-diamond"></i>
          </div>
          <div class="text">
            <h5>Good investments</h5>
            <p>In Union Wealth Bank investment management client, you gain access to our wide array of investment experts and expertise. With a choice of multiple managers, in addition to our own manager</p>
          </div>
        </div>
      </div>

      <!-- Single Service Area -->
      <div class="col-12 col-md-6 col-lg-4">
        <div class="single-service-area d-flex mb-100 wow fadeInUp" data-wow-delay="700ms">
          <div class="icon">
            <i class="icon-piggy-bank"></i>
          </div>
          <div class="text">
            <h5>Accumulation goals</h5>
            <p>Accumulation planning addresses an individual's investment needs, asset allocation, and the suitability of different types of securities in light of your goals.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Single Service Area -->




<!-- ##### Services Area End ###### -->

<!-- ##### Special Feature Area Start ###### -->
<section class="special-feature-area d-flex flex-wrap">
  <!-- Special Feature Content -->
  <div class="special-feature-content section-padding-100">
    <div class="feature-text">
      <!-- Section Heading -->
      <div class="section-heading white mb-50">
        <div class="line"></div>

        <h2>How We Can Help</h2>
      </div>
      <h6>Whether you are working toward financial security, providing a steady stream of income, or planning for retirement, we can help simplify your finances. Union Wealth Bank can provide access to a wide range of quality investments and services to pursue your financial goals</h6>

    </div>
  </div>
  <!-- Special Feature Thumbnail -->
  <div class="special-feature-thumbnail bg-img jarallax" style="background-image: url({% static 'img/bg-img/20.jpg' %});"></div>
</section>
<!-- ##### Special Feature Area End ###### -->

<!-- ##### Special Feature Area Start ###### -->
<section class="special-feature-area style-2 d-flex flex-wrap">
  <!-- Special Feature Thumbnail -->
  <div class="special-feature-thumbnail bg-img jarallax" style="background-image: url({% static 'img/bg-img/21.jpg' %});"></div>
  <!-- Special Feature Content -->
  <div class="special-feature-content section-padding-100">
    <div class="feature-text">
      <!-- Section Heading -->
      <div class="section-heading white mb-50">
        <div class="line"></div>

        <h2>International Banking</h2>
      </div>
      <h6>To connect you with the right people, we provide an International Banker - one person dedicated to you. This is someone you get to know and rely on for all of your international banking needs</h6>

    </div>
  </div>
</section>
<!-- ##### Special Feature Area End ###### -->

<!-- ##### FAQ Area Start ###### -->

<!-- ##### FAQ Area End ###### -->

<!-- ##### Newsletter Area Start ###### -->
<br>
<br>
<br>

{% endblock content %}
   