django
django-formtools
django-filter
django-allauth[mfa,socialaccount]
django-tenants
django-htmx
python-dotenv
Pillow
psycopg2-binary
django-countries
django-phonenumber-field[phonenumbers]
babel
django-jazzmin
django-colorfield
django-debug-toolbar
django-extensions
django-widget-tweaks
django-compressor
django-tailwind
gunicorn
dj-database-url
requests
django-widget-tweaks
whitenoise
whitenoise[brotli]
django-ipware

# Uncomment these lines to use a Postgres database. Both are needed, since in production
# (which uses Linux) we want to install from source, so that security updates from the
# underlying Heroku stack image are picked up automatically, thanks to dynamic linking.
# On other platforms/in development, the precompiled binary package is used instead, to
# speed up installation and avoid errors from missing libraries/headers.
psycopg[c]; sys_platform == "linux"
psycopg[binary]; sys_platform != "linux"
boto3
django-storages[s3]