<div class="step hidden" id="step-3">
   <div class="flex flex-col w-full pt-4 space-y-8">
      <div>
         <h2 class="text-md font-bold mb-2 text-center">Enter Your Pin</h2>
         <h2 class="text-md font-medium mb-2 text-center text-primary-500">Kindly keep your pin safe</h2>
      </div>

      <!-- OTP Input Fields -->
      <div class="flex space-x-3 justify-center">
         <input
            type="number"
            maxlength="1"
            class="otp-input w-16 h-16 text-center text-2xl border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-blue-500"
            required
         />
         <input
            type="number"
            maxlength="1"
            class="otp-input w-16 h-16 text-center text-2xl border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-blue-500"
            required
         />
         <input
            type="number"
            maxlength="1"
            class="otp-input w-16 h-16 text-center text-2xl border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-blue-500"
            required
         />
         <input
            type="number"
            maxlength="1"
            class="otp-input w-16 h-16 text-center text-2xl border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-blue-500"
            required
         />
      </div>

      <!-- Submit and Cancel Buttons -->
      <button
         type="submit"
         class="w-full mt-6 bg-blue-500 text-white py-2 rounded-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2"
      >
         Verify Pin & Submit
      </button>
      <button
         type="button"
         id="cancel-btn"
         class="w-full mt-6 bg-yellow-500 text-white py-2 rounded-md hover:bg-yellow-600 focus:outline-none focus:ring-2 focus:ring-yellow-500 focus:ring-offset-2"
      >
         Reset
      </button>

      <a
         href="{% url 'international_transaction' %}"
      >
         <button
            type="button"
            class="w-full mt-6 bg-red-500 text-white py-2 rounded-md hover:bg-red-600 focus:outline-none focus:ring-2 focus:ring-red-500 focus:ring-offset-2"
         >
            Cancel
         </button>
      </a>

      <!-- Fees Information -->
      <p class="mt-4 text-sm text-center text-gray-600">
         Our fees will be appended to your transaction 
         <a href="#" class="text-blue-500 hover:underline">Read more...</a>
      </p>
   </div>
</div>

<script>

</script>
