{% comment %} {% extends "dashboard/dashboard-base.html" %} {% endcomment %}
{% load widget_tweaks %}

{% block content %}
 <h1>Chat Room with Superuser</h1>
    <div id="chat-log"></div>
    <input id="chat-message-input" type="text" size="100">
    <button id="chat-message-submit">Send</button>

    <script>
      const roomName = "superuser_chat"; // Fixed room name for superuser chat
      const chatSocket = new WebSocket(
          'ws://' + window.location.host + '/ws/chat/' + roomName + '/'
      );

      chatSocket.onmessage = function(e) {
          const data = JSON.parse(e.data);
          document.querySelector('#chat-log').innerHTML += (data.sender + ': ' + data.message + '<br>');
      };

      document.querySelector('#chat-message-input').focus();
      document.querySelector('#chat-message-input').onkeyup = function(e) {
          if (e.keyCode === 13) {  // Enter key pressed
              document.querySelector('#chat-message-submit').click();
          }
      };

      document.querySelector('#chat-message-submit').onclick = function(e) {
          const messageInputDom = document.querySelector('#chat-message-input');
          const message = messageInputDom.value;
          chatSocket.send(JSON.stringify({
              'message': message
          }));
          messageInputDom.value = '';
      };
    </script>
{% endblock %}