<!-- templates/inventory/add_inventory_item.html -->
{% extends "dashboard/dashboard-base.html" %}
{% load widget_tweaks %}

{% block content %}
{% include 'partials/appbar.html' %}
<div class="flex pt-16 overflow-hidden bg-gray-50 dark:bg-gray-900">
    {% include 'partials/sidebar.html' %}

    <div id="main-content" class="relative w-full h-full overflow-y-auto bg-gray-50 lg:ml-64 dark:bg-gray-900">
      {% include 'partials/tradingview-slider.html' %}
      {% include 'partials/messages-dashboard.html' %}  
      <main>



<div class="grid grid-cols-1 px-2 pt-6 xl:grid-cols-1 xl:p-2 xl:gap-4 dark:bg-gray-900">
    <div class="mb-4 col-span-full xl:mb-2">
        <nav class="flex mb-5" aria-label="Breadcrumb">
            <ol class="inline-flex items-center space-x-1 text-sm font-medium md:space-x-2">
              <li class="inline-flex items-center">
                <a href="{% url 'home' %}" class="inline-flex items-center text-gray-700 hover:text-primary-600 dark:text-gray-300 dark:hover:text-primary-500">
                  <svg class="w-5 h-5 mr-2.5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z"></path></svg>
                  Home
                </a>
              </li>
              <li>
                <div class="flex items-center">
                  <svg class="w-6 h-6 text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
                  <span class="ml-1 text-gray-700 hover:text-primary-600 md:ml-2 dark:text-gray-300 dark:hover:text-primary-500">Transfer</span>
                </div>
              </li>
              <li>
                <div class="flex items-center">
                  <svg class="w-6 h-6 text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
                  <span class="ml-1 text-gray-400 md:ml-2 dark:text-gray-500" aria-current="page">Domestic Transfer</span>
                </div>
              </li>
            </ol>
        </nav>
        <h1 class="text-xl font-semibold text-gray-900 sm:text-2xl dark:text-white">Send a Domestic Transfer</h1>
    </div>

<div class="flex flex-col lg:flex-row min-h-screen w-full">
    <!-- Form Section -->
    <div class="w-full mx-auto p-1">
        <div class="rounded-lg p-4 bg-gray-100 border border-gray-300 dark:border-gray-700 dark:bg-gray-800">
            <form method="post" enctype="multipart/form-data" class="space-y-4">
                {% csrf_token %}
                <!-- Beneficiary Field -->
                <div>
                    <label for="{{ form.beneficiary.id_for_label }}" class="block text-sm font-medium text-gray-700 dark:text-gray-300">Beneficiary</label>
                    {% render_field form.beneficiary class+="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="Beneficiary Account Number" %}
                    {% if form.beneficiary.errors %}
                        <span class="text-red-500">{{ form.beneficiary.errors }}</span>
                    {% endif %}
                </div>

                <!-- Amount Field -->
                <div>
                    <label for="{{ form.amount.id_for_label }}" class="block text-sm font-medium text-gray-700 dark:text-gray-300">Amount</label>
                    {% render_field form.amount class+="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="Amount" %}
                    {% if form.amount.errors %}
                        <span class="text-red-500">{{ form.amount.errors }}</span>
                    {% endif %}
                </div>

                <!-- Password Field -->
                <div>
                    <label for="{{ form.password.id_for_label }}" class="block text-sm font-medium text-gray-700 dark:text-gray-300">Password</label>
                    {% render_field form.password class+="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="Password" %}
                    {% if form.password.errors %}
                        <span class="text-red-500">{{ form.password.errors }}</span>
                    {% endif %}
                </div>

                <!-- Submit Button -->
                <button type="submit" class="inline-flex items-center justify-center px-4 py-2 text-sm font-medium text-white rounded-lg bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 sm:w-auto dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">Send</button>
            </form>
        </div>
    </div>
</div>


</div>

</main>
</div>
</div>
{% endblock %}

